body {
    margin: 0;
    font-family: 'Inter', regular;
    color: white;
    position: relative;
    overflow-x: hidden;
    background-color: #000; 
}

body {
    background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

header {
    top: 20px;
    left: 20px;
    z-index: 10;
}

.logo {
    width: 200px;
    height: 200px;
    margin: 14px 0px 0px 70px;
}

.button-container {
    max-width: 30%;
}

.button-container:hover{
    transform: scale(1.05);
}

button {
    background: linear-gradient(80deg, #716AFF, #26BFBC);
    padding: 8px 22px;
    border: none;
    font-size: 22px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Inter', regular;
    font-weight: 600;
    transition: opacity 0.2s, transform 0.2s;
}

/*Botões de voltar*/

.back-player-button,
.back-button-sinopse {
    position: fixed;
    z-index: 100;
    background: rgba(50, 50, 50, 0.9);
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s, transform 0.2s;
    padding: 0;
}

.back-player-button {
    top: 3%;
    left: 2%;
}

.back-button-sinopse {
    top: 5%;
    left: 7.6%;
}

.back-player-button:hover,
.back-button-sinopse:hover {
    background-color: rgba(50, 50, 50, 0.9);
    transform: scale(1.08);
}

/*Sinopse*/
.dark-half {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.95) 15%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
}

.sinopse-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0px 0px 0px 15%; 
    max-width: 600px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.movieTitle {
    font-size: 48px;
    line-height: 1.1;
    margin: 0;
}

.movieDescription {
    font-size: 20px;
    font-weight: 400;
}

.movieImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}


/*Carrossel*/

.carousel-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 30vh; 
}

.carousel-title {
    padding: 0px 0px 0px 70px;
}

.carousel {
    display: flex;
    gap: 25px;
    overflow-x: scroll; 
    padding: 0px 0px 12px 70px;
    scroll-behavior: smooth; 
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel img { 
    width: 17%; 
    max-height: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.carousel img:hover {
    transform: scale(1.1);
}

/*Botões de navegação*/

.arrow-right,
.arrow-left {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    width: 70px;
    height: 250px;
    color: gray;
    font-size: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    z-index: 10;
}

.arrow-right {
    right: -1px;
    background: linear-gradient(90deg, #ffffff00, #000000);
    border-radius: 8px 0 0 8px;
}

.arrow-left {
    left: 0;
    background: linear-gradient(90deg, #000000, #ffffff00);
    border-radius: 0 8px 8px 0;
}

.arrow-right:hover,
.arrow-left:hover {
    color: white;
}

/*Player*/
.player-body {
    background-image: none;
}

#player {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background: #000;
    z-index: 1;
}

/*Media*/

@media (min-width: 769px) and (max-width: 1024px) {
    .logo {
        margin: 5% 0px 0px 5%;
    }

    .sinopse-container {
        margin-left: 15%;
        width: 100vw;
    }
    .carousel img {
        width: 35%;
    }

    .dark-half{
        width: 100vw;
    }

    .movieTitle {
        font-size: 100px;
    }

    .movieDescription {
        font-size: 48px;
    } 

    button {
        font-size: 56px;
    }

    .back-button-sinopse {
        top: 5%;
        left: 5%;
        width: 100px;
        height: 100px;
        font-size: 42px;
    }

    .back-player-button { 
        top: 5%;
        left: 5%;
        width: 100px;
        height: 100px;
        font-size: 42px;
    }

    #player {
        width: 100vw;
        height: auto;
    }

    .arrow-right, .arrow-left {
        height: 70%;
    }
}